# generated 2019-12-29, https://ssl-config.mozilla.org/#server=nginx&server-version=1.17.0&config=modern&hsts=false&ocsp=false

server {
    listen 443 ssl http2;
    server_name {{ name }};

    ssl_certificate /etc/nginx/conf.d/ssl/frappecloud.crt;
    ssl_certificate_key /etc/nginx/conf.d/ssl/frappecloud.key;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;
    ssl_session_tickets off;


    # modern configuration
    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;

    location /agent {
        proxy_pass http://127.0.0.1:{{ web_port }};
    }
}
