Vagrant.configure("2") do |config|
    config.vm.box = "backbone"

    # Disable default synced folder
    config.vm.synced_folder ".", "/vagrant", disabled: true

    {% for machine in machines %}
    config.vm.define "{{ machine.name }}" do |machine|
        machine.vm.hostname = "{{ machine.name }}"
    end
    {% endfor %}
end
