server {
	listen 443 ssl http2;
	server_name {{ name }};

	ssl_certificate {{ tls_directory }}/fullchain.pem;
	ssl_certificate_key {{ tls_directory }}/privkey.pem;
	ssl_trusted_certificate {{ tls_directory }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols TLSv1.3;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 1.1.1.1 1.0.0.1 8.8.8.8 8.8.4.4 208.67.222.222 208.67.220.220 valid=60s;
	resolver_timeout 2s;

	client_max_body_size 12G;

	location /agent/ {
		proxy_http_version 1.1;
		proxy_cache_bypass $http_upgrade;

		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Port $server_port;

		proxy_pass http://127.0.0.1:{{ web_port }}/;
	}

	location /status {
		vhost_traffic_status_display;
		vhost_traffic_status_display_format html;
	}

	location / {
		root {{ pages_directory }};
		try_files /home.html /dev/null;
	}
}
