[program:web]
command={{ directory }}/env/bin/gunicorn --bind 127.0.0.1:{{ web_port }} --workers {{ gunicorn_workers }} agent.web:application
environment=PYTHONUNBUFFERED=1
autostart=true
autorestart=true
stdout_logfile={{ directory }}/logs/web.log
stderr_logfile={{ directory }}/logs/web.error.log
user={{ user }}
directory={{ directory }}

[program:redis]
command=redis-server redis.conf
autostart=true
autorestart=true
stdout_logfile={{ directory }}/logs/redis.log
stderr_logfile={{ directory }}/logs/redis.error.log
user={{ user }}
directory={{ directory }}

[program:worker]
command={{ directory }}/env/bin/rq worker --url redis://127.0.0.1:{{ redis_port }}
environment=PYTHONUNBUFFERED=1
autostart=true
autorestart=true
stopwaitsecs=1500
killasgroup=true
numprocs={{ workers }}
process_name=%(program_name)s-%(process_num)d
stdout_logfile={{ directory }}/logs/worker.log
stderr_logfile={{ directory }}/logs/worker.error.log
user={{ user }}
directory={{ directory }}

[group:agent]
programs=web, redis, worker
